.container-fluid{
    background: url('../../assets/images/bg-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 44.5rem;
}
.card{
    background: conic-gradient(at left top, rgb(255, 228, 230), rgb(204, 251, 241));
}